<header class="site-header">

<div class="sidebar">
  <a href="/" class="logo">
    <img src="/img/logo.png">
  </a>

  <ul class="nav">
    <div class="nav-inner">
      <li><a href="/about"><span class="icon me"></span>about</a></li>
      <li><a href="/cv"><span class="icon cv"></span>cv</a></li>
      <li><a href="http://lucid2713.github.io/notes/" target="blank"><span class="icon blog"></span>blog</a></li>
      <li><a href="http://github.com/lucid2713" target="blank"><span class="icon github"></span>github</a></li>
      <li><a href="https://www.linkedin.com/in/mina-kim-66b849156/" target="blank"><span class="icon linkedin"></span>linkedin</a></li>
      <li><a href="https://soundcloud.com/mina-vitamina" target="blank"><span class="icon soundcloud"></span>soundcloud</a></li>
      <li><a href="https://vimeo.com/vitamina" target="blank"><span class="icon vimeo"></span>vimeo</a></li>
    </div>
  </ul>
</div>

</header>
