<header class="site-header">

<div class="sidebar">
  <!-- <a href="/" class="logo">
    <img src="/img/logo.png">
  </a> -->

  <ul class="nav">
    <div class="nav-inner">
      <li><a href="/"><span class="icon orange"></span>works</a></li>
      <li><a href="/about"><span class="icon me"></span>about</a></li>
      <li><a href="/cv"><span class="icon cv"></span>cv</a></li>
      <!-- <li><a href="https://lucid2713.github.io/blog" target="blank"><span class="icon blog"></span>blog</a></li> -->
      <li><a href="#" target="blank"><span class="icon blog"></span>blog</a></li>
    </div>
  </ul>


</div>

</header>
