<!DOCTYPE html>
<html lang="en">
<head>
  {% include head.html %}
</head>
  <body>

    {% include header.html %}
      <!-- <div class="sidebar">
        <div class="nav">
          <a href="/" class = "logo"><img src="{{ site.baseurl }}/img/logo.png"></a>
        </div>
      </div> -->
      <div class="wrapper">
          <h1>{{ page.title }}</h1>
        </div>
          <!-- <p class="meta">{{ page.date | date_to_string }}</p> -->

      <!-- <h1 class="post-title">{{ page.title }}</h1> -->
        <!-- <h5 class="post-description">{{ page.description }}</h5> -->


    <!-- <div class="page-content"> -->
      <div class="post-body">
        {{ content }}
      </div>
    <!-- </div> -->



  </body>
</html>
